<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
  <body>
    <main class="bg-indigo-50">
      <div class="max-w-3xl mx-auto bg-white shadow shadow-sm p-2">
        <ul style="list-style: none;padding-top: 20px;" class="bg-white py-8 shadow sm:rounded-lg flex items-center justify-evenly" >
          <% if (headerMenue) { %>
            <div>
            <% for(var i=0; i<headerMenue.links.length; i++) {%>
              <li style=" display: inline; margin: 5px;">
                <a class="nav-link text-md text-gray-900 hover:underline" href="<%= headerMenue.links[i].href %>"><%= headerMenue.links[i].title %></a>
              </li>
            <% } %>
            </div>
          <% } else{ %>
            <div></div>
          <% } %>
        </ul>
      <%- html %>
      </div>
    </main>
  </body>
</html>
