<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %>
  <body>
    <header>Header here</header>
    <main class="max-w-7xl">
        <ul style="list-style: none;padding-top: 20px;" >
      <% for(var i=0; i<headerMenue.links.length; i++) {%>
          <li style=" display: inline; margin: 5px;">
              <a class="nav-link" href="<%= headerMenue.links[i].href %>"><%= headerMenue.links[i].title %></a>
          </li>
      <% } %>
      </ul>
      <%- html %>
    </main>
  </body>
</html>
